:host {
  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    mat-card {
      margin-bottom: 10px;
    }
    .button-group {
      display: flex;
      gap: 10px;
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: fill;
    }
  }
}
