:host {
  .pet-info {
    display: inline-flex;
    align-items: center;

    margin-top: 1em;
    span {
      margin-right: 4px;
      font-weight: 500;
      color: var(--mat-expansion-header-text-color);
    }
    p {
      font-weight: 400;
      margin: 0;
    }
  }
  b {
    color: black;
  }
  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
  }
  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    mat-card {
      margin-bottom: 10px;
    }

    .button-group {
      display: flex;
      gap: 10px;
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: fill;
    }
  }
}
