<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ pet.id }} - {{ pet.name }}</mat-card-title>
      <mat-card-subtitle>
        <div class="subtitle">
          <div>
            <b>Dono :</b>
            <span> {{ pet.owner.username }} </span>
          </div>
          <div>
            <b>Função :</b>
            <span> {{ pet.owner.role.name }} </span>
          </div>
          <div>
            <b>Email :</b>
            <span> {{ pet.owner.email }} </span>
          </div>
        </div>
      </mat-card-subtitle>
      <div class="button-group">
        <button mat-stroked-button color="primary" (click)="edit()">
          <mat-icon>edit</mat-icon>Editar
        </button>
        <button mat-stroked-button color="warn" (click)="remove()">
          <mat-icon>delete</mat-icon>Excluir
        </button>
      </div>
    </mat-card-title-group>
    <img
      [src]="getPetImageUrl(pet.photoUrl)"
      [width]="400"
      [height]="240"
      [alt]="'Image of a ' + pet.name"
    />
  </mat-card-header>
  <mat-card-content>
    <div class="pet-info">
      <span>Tempo de vida :</span>
      <p>{{ pet.birthDate | age }}</p>
    </div>
    <div class="pet-info">
      <span>Data de nascimento :</span>
      <p>{{ pet.birthDate | date : "dd/MM/yyyy" }}</p>
    </div>
    <div class="pet-info">
      <span>Data de criação :</span>
      <p>{{ pet.createdAt | date : "dd/MM/yyyy HH:mm" }}</p>
    </div>
    <div class="pet-info">
      <span>Data de atualização :</span>
      <p>{{ pet.updatedAt | date : "dd/MM/yyyy HH:mm" }}</p>
    </div>
  </mat-card-content>
</mat-card>
