<main #main>
  <mat-accordion [class.hidden]="!(petService.search$$ | async)">
    <mat-expansion-panel
      #formPanel
      [expanded]="step() === eStep.PetForm"
      *ngIfHasRole
    >
      <mat-expansion-panel-header class="pet-header">
        <mat-panel-title>
          <mat-icon>pets</mat-icon>
          <span class="panel-title"> Animal de estimação </span>
        </mat-panel-title>
        <mat-panel-description>
          Crie ou atualize as informações do seu animal de estimação
        </mat-panel-description> </mat-expansion-panel-header
      ><mat-divider></mat-divider>
      <app-pet-form
        [step]="step"
        [pets]="pets"
        [owners]="owners"
        [matExpansionPanel]="matExpansionPanel"
      ></app-pet-form>
      <mat-action-row>
        <button
          mat-stroked-button
          color="primary"
          (click)="petForm.resetPetForm()"
        >
          Limpar <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button color="warn" (click)="formPanel.close()">
          Fechar <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="petForm.onSubmit()">
          Salvar <mat-icon>save</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel #searchPanel [expanded]="step() === eStep.PetList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>search</mat-icon>
          <span class="panel-title"> Procurar </span>
        </mat-panel-title>
        <mat-panel-description>
          Procure informações sobre um animal de estimação
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-search-pet-form [owners]="owners"></app-search-pet-form>
      <mat-action-row>
        <button
          mat-stroked-button
          color="primary"
          (click)="searchPetForm.formGroup.reset()"
        >
          Limpar <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button color="warn" (click)="searchPanel.close()">
          Fechar <mat-icon>close</mat-icon>
        </button>

        <button mat-raised-button color="primary" (click)="searchData()">
          Buscar <mat-icon>search</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      class="mat-expansion-panel-no-padding"
      [expanded]="false"
      [disabled]="true"
    >
      <mat-expansion-panel-header>
        <mat-paginator
          (page)="onPageChange($event)"
          [length]="response?.total"
          [pageSize]="paginationOptions.size"
          [pageSizeOptions]="[10, 15, 25, 50, 100]"
        >
        </mat-paginator>
        <div class="sort">
          <mat-form-field
            class="mat-form-field-sort"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label>Ordenar por </mat-label>
            <mat-select
              [formControl]="sort"
              placeholder="Selecione uma opção
"
            >
              @for (option of sortOptions; track option) {
              <mat-option [value]="option.value">
                {{ option.label }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="mat-form-field-sort"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label> Direção</mat-label>
            <mat-select
              [formControl]="direction"
              placeholder="Selecione uma opção
"
            >
              <mat-option value="asc">Ascendente</mat-option>
              <mat-option value="desc">Descendente</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <section class="pet-container" [@listAnimation]="pets().length">
    @for (pet of pets() ; track pet) {
    <app-pet-card
      [pet]="pet"
      (editPet)="petForm.editPet($event)"
      (removePet)="petForm.removePet($event)"
    ></app-pet-card>
    }
  </section>
</main>
