:host {
  display: block;

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .routes {
    display: flex;
    gap: 16px;
  }
  .toolbar-group {
    display: flex;
    align-items: center;
    gap: 16px;
    .title {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    img {
      width: 32px;
    }
    .mat-icon {
      padding: 2px;
      background-color: white;
      border: 1px solid currentColor;
      border-radius: 50%;
      cursor: pointer;
      transform: scale(0.8);
    }
  }

  mat-icon[routerLinkActive] {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &.active {
      color: #010458;
      font-weight: bold;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}
