<mat-toolbar color="primary" *ngIf="authService.hasUser">
  <div class="toolbar-group">
    <span>Pet Application</span>
    <mat-icon
      *ngIf="isPetPage"
      [matTooltip]="
        petService.search$$.value ? 'Hidden page options' : 'Open page options'
      "
      [class.text-success]="petService.search$$.value"
      [class.text-danger]="!petService.search$$.value"
      (click)="petService.search$$.next(!petService.search$$.value)"
    >
      {{ petService.search$$.value ? "search" : "search_off" }}
    </mat-icon>
  </div>
  <div class="routes">
    <mat-icon
      matTooltip="Pet Page"
      [routerLink]="['home/pets']"
      routerLinkActive="active"
      >pets</mat-icon
    >
    <mat-icon
      [routerLink]="['home/roles']"
      routerLinkActive="active"
      matTooltip="Roles Page"
      >group</mat-icon
    >
    <mat-icon
      [routerLink]="['/sign-in']"
      (click)="authService.logout()"
      routerLinkActive="active"
      matTooltip="Sign In Page"
      >logout</mat-icon
    >
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
