<mat-toolbar color="primary" *ngIf="authService.hasUser">
  <div class="toolbar-group">
    <div
      class="title"
      matTooltip="Animais de estimação"
      [routerLink]="['home/pets']"
    >
      <img src="../assets/logo.png" alt="logo" />
      <span>Pet Application</span>
    </div>
    <mat-icon
      *ngIf="isPetPage"
      [matTooltip]="
        petService.search$$.value
          ? 'Opções da página oculta'
          : 'Opções da página aberta'
      "
      [class.text-success]="petService.search$$.value"
      [class.text-danger]="!petService.search$$.value"
      (click)="petService.search$$.next(!petService.search$$.value)"
    >
      {{ petService.search$$.value ? "search" : "search_off" }}
    </mat-icon>
  </div>
  <div class="routes">
    <mat-icon
      [routerLink]="['home/roles']"
      routerLinkActive="active"
      matTooltip="Funções
"
      >group</mat-icon
    >
    <mat-icon
      [routerLink]="['/sign-in']"
      (click)="authService.logout()"
      routerLinkActive="active"
      matTooltip="Login
"
      >logout</mat-icon
    >
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<div [class.hidden]="!(loader.isLoading$ | async)" class="spinner-overlay">
  <mat-spinner diameter="50"></mat-spinner>
</div>
