<form [formGroup]="formGroup">
  <div class="text">
    <h1>Inscrever-se</h1>
    <span>Bem-vindo ao Pet App! Por favor, registre-se em sua conta. </span>
  </div>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Nome de usuário </mat-label>
    <input
      formControlName="username"
      placeholder="Digite seu nome de usuário"
      matInput
    />
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Email</mat-label>
    <input formControlName="email" placeholder="Digite seu email" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Função</mat-label>
    <mat-select
      formControlName="role"
      placeholder="Selecione uma opção
"
    >
      @for (role of roles(); track role.id) {
      <mat-option [value]="+role.id">
        {{ role.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Senha</mat-label>
    <mat-icon
      (click)="
        passwordField.type =
          passwordField.type === 'password' ? 'text' : 'password'
      "
      matSuffix
      >{{
        passwordField.type === "password" ? "visibility_off" : "visibility"
      }}</mat-icon
    >
    <input
      formControlName="password"
      type="password"
      #passwordField
      placeholder="Digite sua senha"
      matInput
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Registrar
  </button>
  <span class="sing-up">
    <span
      >Já tem uma conta?
      <a [routerLink]="['/sign-in']"> Entrar</a>
    </span>
  </span>
</form>
